body{
	background-color: #030303;
}
.input{
	font-size: 30px;
	font-family: Gabriola;
	padding: 30px;
}
input{
	padding: 6px;
	box-shadow: 0 0 60px rgba(58,248, 54, 0.5);
}
p{
	color:#3df83d;
}
button{
	background-color: #000000;
	border-radius: 5px;
	height: 32px;
	font-size: 22px;
	font-family: Gabriola;
	box-shadow: 0 0 60px rgba(58,248, 54, 0.5);
	color:#3df83d;
}