body{
	background-color: #afa8a8;
}
table{
	width: 100%;
	border-spacing: 1px;
	background: white;
	margin-top: 120px;
}
td{
	height: 990px;
	background: url(images/films2.jpg) no-repeat;
	padding: 5px;
}
.logo{
	position: absolute;
	left: 50px;
	top:7px;
}
.logo a{
	text-decoration: none;
}
.logo-text{
	transition: 0.5s;
	color: #FFF;
	font-size: 60px;
	margin: 0;
	margin-left: 45px;
}
.logo-text:hover{
	transition: 0.2s;
	text-shadow: 0 0 40px #0ea;
}