{% extends "wrapper.html" %}
<html>
<head>
</head>
<body>
{% block content %}
    <h1>Вход на сайт</h1>
    <form action="{% url "login" %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Login">
    </form>
{% endblock %}
</body>
</html>