{% extends "wrapper.html" %}
<html>
<head>
</head>
<body>
{% block content %}
    <h1>Регистрация</h1>
    {% if message %}
        <div style="color: red;">{{ message }}</div>
    {% endif %}
    <form action="{% url "register" %}" method="post">
        {% csrf_token %}
        Username: <input type="text" name="username"> <br>
        Fullname: <input type="text" name="fullname"> <br>
        Email: <input type="email" name="email"> <br>
        Password: <input type="password" name="password"> <br>
        Password again: <input type="password" name="password2"> <br>
        <input type="submit" value="Register">
    </form>
    <a href="{% url "login" %}">Log in</a>
{% endblock %}
</body>
</html>