{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
</head>
<body>
<div class="fon">
    <div class="header">
        <div class="logo">
            <a href="#"><h3 class="logo-text">GoFilm</h3></a>
        </div>
        <div class="menu">
            <ul>
                <a href="{% url "login" %}">
                    <li>Вход</li>
                </a>
                <a href="{% url "register" %}">
                    <li>Регистрация</li>
                </a>
                <a href="#">
                    <li>О нас</li>
                </a>
                <a href="#">
                    <li>Контакты</li>
                </a>
                <a href="{% url "Post" %}">
                    <li>Добавить фильм</li>
                </a>
            </ul>
        </div>
    </div>
    {#	<script type="text/javascript" src="{% static 'js/main.js' %}"></script>#}
    {#	<div class="timer">Осталось: <span id="timer_inp">10</span>сек.</div>#}
    <div class="block" class="side__menu">
        <div class="side">
            <ul class="top-menu">
                <li class="menu__list"><a href="{% url 'films' %}">Фильмы</a>
                    <ul class="menu__drop">
                        <li><a href="#">Комедии</a></li>
                        <li><a href="#">Ужасы</a></li>
                        <li><a href="#">Боевики</a></li>
                        <li><a href="#">Трейлеры</a></li>
                        <li><a href="#">Фантастика</a></li>
                        <li><a href="#">Фэнтэзи</a></li>
                        <li><a href="#">Мелодраммы</a></li>
                    </ul>
                </li>
                <li class="menu__list"><a href="{% url 'series' %}">Сериалы</a>
                    <ul class="menu__drop">
                        <li><a href="#">Топ 1</a></li>
                        <li><a href="#">Топ 2</a></li>
                        <li><a href="#">Топ 3</a></li>
                        <li><a href="#">Топ 4</a></li>
                        <li><a href="#">Топ 5</a></li>
                    </ul>
                </li>
                <li class="menu__list"><a href="{% url 'anime' %}">Аниме</a>
                    <ul class="menu__drop">
                        <li><a href="#">Топ 1</a></li>
                        <li><a href="#">Топ 2</a></li>
                        <li><a href="#">Топ 3</a></li>
                        <li><a href="#">Топ 4</a></li>
                        <li><a href="#">Топ 5</a></li>
                    </ul>
                </li>
                <li class="menu__list"><a href="#">Популярные</a>
                    <ul class="menu__drop">
                        <li><a href="#">Топ 1</a></li>
                        <li><a href="#">Топ 2</a></li>
                        <li><a href="#">Топ 3</a></li>
                        <li><a href="#">Топ 4</a></li>
                        <li><a href="#">Топ 5</a></li>
                    </ul>
                </li>
                <li class="menu__list"><a href="#">Новинки</a>
                    <ul class="menu__drop">
                        <li><a href="#">Топ 1</a></li>
                        <li><a href="#">Топ 2</a></li>
                        <li><a href="#">Топ 3</a></li>
                        <li><a href="#">Топ 4</a></li>
                        <li><a href="#">Топ 5</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="medium-6">
        <div class="top-button">
        </div>
    </div>
    <div class="footer">
        <form class="reg_form" action="index.html" method="get">
            <div class="form_row">
                <div class="form_row">
                    <label for="fom_fname">Имя: </label>
                    <input type="text" id="fom_fname" name="first_name"/>
                </div>
                <div class="form_row">
                    <label for="form_sname">Фамилия: </label>
                    <input type="text" id="form_sname" name="sekond_name"/>
                </div>
                <div class="form_row">
                    <label for="form_email">E-mail: </label>
                    <input type="text" id="form_email" name="E-mail"/>
                </div>
                <div class="form_row">
                    <label for="form_phone">Телефон: </label>
                    <input type="text" id="form_phone" name="phone">
                </div>
                <div class="form_row">
                    <label for="form_about">Доп. информация: </label>
                    <textarea name="about" id="form_about"></textarea>
                </div>
                <div class="form_row" id="check">
                    <input type="submit" value="Зарегистрироваться"/>
                </div>
            </div>
        </form>

        <div class="write_to_us">
            <a href="#modal">
                <ul>
                    <li>Написать нам</li>
                </ul>
            </a>
        </div>
        <div class="modal" id="modal">
            <div class="popup">
                <a href="#send" class="close">X</a>
                <div class="form_row">
                    <label for="fom_fname">Имя: </label>
                    <input type="text" id="fom_fname" name="first_name"/>
                </div>

                <div class="form_row">
                    <label for="form_phone">Телефон: </label>
                    <input type="text" id="form_phone" name="phone"><br>
                </div>

                <div class="form_row">
                    <label for="form_about">Доп. информация: </label>
                    <textarea name="about" id="form_about"></textarea>
                </div>
                <div class="form_row">
                    <input id="send" type="submit" value="Отправить"/>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .marks{
        display: block;
        color: red;
        font-weight: bold;
    }
</style>
<div id="marks">

</div>
<!--Подключаем скрипты-->
{#<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>#}
<script src="{% static 'js/jquery-1.10.1.min.js' %}"></script>
<script src="{% static 'js/jquery.backgroundvideo.min.js' %}"></script>
<script>
    function onSuccess(data) {
        for (var i in data){
            var mark = data[i]
            var code = "<div class = 'mark'>"+marks.student+"</div>";
            $("#marks").append(code)
        }
    }

    function onError() {
        alert("Ошибка!");
    }

    function makeRequest() {
        $.ajax("/get-marks",
            {
                success: onSuccess,
                error: onError
            });
    }

    $(document).ready(makeRequest);
</script>
{#    <script src="{% static 'js/jquery-1.10.1.min.js' %}"></script>#}
<script>
    $(document).ready(function () {
        var videobackground = new $.backgroundVideo($('body'), {
            "align": "centerXY",
            "width": 1280,
            "height": 720,
            "path": "static/Video/",
            "filename": "video",
            "types": ["mp4", "ogg", "webm"],
            "preload": true,
            "autoplay": true,
            "loop": true
        });
    });
</script>
</body>
</html>