<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block Post %}
<form method="post">
    {% csrf_token %}
    {{ postmove_form.as_p }}
    <input type="submit" value="Отправить">
</form>
{% endblock %}
</body>
</html>