<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Мои посты</h2>
{% block content %}
<table>
    <tr>
        <th>#</th>
        <th>Имя</th>
        <th>Email</th>
        <th>Текст</th>
    </tr>
    {% for postmovie in postmovies %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ postmovie.author }}</td>
            <td>{{ postmovie.title }}</td>
            <td>{{ postmovie.text }}</td>
            <td>{{ postmovie.file }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
</body>
</html>